@model BlueRibbonsReview.Models.Campaign

@{
    ViewBag.Title = "Details";
}

    <div id="bootstrap-override">
        <div class="details-top" align="center">
            <ul class="details-modal-list list-group">
                <li class="list-group-item" id="list-group-item">
                    <img id="item-image" data-bind="attr:{src: imagePath}" src="@Html.DisplayFor(model => model.ImageUrL)" style="max-height:100%; max-width:100%" />
                </li>
                <li class="list-group-item" id="list-group-item">
                    <a class="btn-lg btn-amazon" href="@Model.VendorsPurchaseURL" target="_newtab">See on Amazon</a>
                </li>
            </ul>
        </div>
        <div class="details-body" style="position:relative">
            <div class="details-info">
                Regular Price:
                <span class="item-retail-price" data-bind="text: retailPriceDisplay">$@Html.DisplayFor(model => model.RetailPrice)</span>
                <br />
                <div class="specialprice">
                    Now Only
                    <span data-bind="text: salePriceDisplay">$@Html.DisplayFor(model => model.SalePrice)</span>
                </div>
                @if (!Request.IsAuthenticated)
                {
                    <p>To request this product, please&nbsp;<a href="'@Url.Action("Register","Account")'">sign in</a></p>
                }

                <h5 class="details-description">Deal Description:</h5>
                <p class="item-description" data-bind="text: description">@Html.DisplayFor(model => model.Description)</p>
                @*send the current campaign name and number to the the next page*@              
                @Html.ActionLink("Review this Product","Create","Reviews", new { id = Model.CampaignID, name = Model.Name }, null)
                <br />
            </div>
        </div>
    </div>
